.popover {
    font-size: 0.75em;
    max-width: 800px;
    width: auto;
}

div.webserverStats div dl.dl-horizontal dt {width: 100px;}
div.webserverStats div dl.dl-horizontal dd {margin-left: 120px;}

div.chart div {width: 100%}
div.chart table {
    width: auto;
    margin: 0 auto !important;
}

.btn.zeroclipboard-is-hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    background-color: #e6e6e6;
}

.btn.zeroclipboard-is-active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}

table.table td,table.table th {
    text-align: right;
}

table.table td.method, table.table th.method {
    text-align: left;
}