<!DOCTYPE html>
<html lang="en" ng-app="statusApp" id="ng-app">
<head>
    <title>Status</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--  You must include bootstrap
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="css/status.css" rel="stylesheet" />

    <script type="text/javascript" src='https://www.google.com/jsapi'></script>

    
    <script type="text/javascript" src="js/lib/angular/angular-1.2.4.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular-ui/ui-bootstrap-0.3.0.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-ui/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script type="text/javascript" src="js/lib/countdown.min.js"></script>

    <script type="text/javascript" src="js/serverList.js"></script>
    <script type="text/javascript" src="js/angular-status.js"></script>


    <!-- Directives --
    <script type="text/javascript" src="js/directives/metricDataDirective.js"></script>
    <script type="text/javascript" src="js/directives/timerDataDirective.js"></script>
    <script type="text/javascript" src="js/directives/gaugeDataDirective.js"></script>
    <script type="text/javascript" src="js/directives/googleChartDirective.js"></script>
    <script type="text/javascript" src="js/directives/copyButtonDirective.js"></script>

    <!-- Filters --
    <script type="text/javascript" src="js/filters/elapsedTimeFilter.js"></script>

    <!-- Controllers -->
    
    <script type="text/javascript" src="js/controllers/statusModuleCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/statusListCtrl.js"></script>
    <!-- 
    <script type="text/javascript" src="js/controllers/statusCtrl.js"></script>   
    <script type="text/javascript" src="js/controllers/logCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/featureBitCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/healthCheckCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/metricsCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/environmentVariablesCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/changelogCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/logFilesCtrl.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="js/services/restService.js"></script>
    <script type="text/javascript" src="js/services/requestParamService.js"></script>

    <!--
    <script type="text/javascript" src="js/lib/ZeroClipboard.min.js"></script>
    <script type="text/javascript">
        ZeroClipboard.setDefaults( { moviePath: 'js/lib/ZeroClipboard.swf' } );
    </script>
    -->

</head>
<body >
<div ng-controller="StatusListCtrl" >
    <div ng-repeat="app in applications" >
        
        <h3 style="background-color: rgba(226, 200, 200, 0.81)">{{app.name}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>  
                    <th>url</th>  
                    <th>Version</th>  
                    <th>Buildnumber</th>  
                    <th>Environment</th>  
                    <th>SSO Server</th>  
                    <th>SSO Appid</th>  
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="server in app.servers" class="" ng-init="init()" ng-controller="StatusModuleCtrl" >
                    <td>{{server.url}}</td>
                    <td> <a href="{{server.url}}{{app.secret}}" target="_blank">link</a></td>
                    <td>{{properties.version}}</td>
                    <td>{{properties.build}}</td>
                    <td>{{properties.env}}</td>
                    <td>
                        <div ng-show="isSsoPropertyAvailable(properties.SSOServer)">
                        <!-- {{properties.SSOServer}} -->
                            <a class="btn btn-small" style="margin-left: 5px;" target="_blank" 
                                href="{{properties.SSOServer}}/sso/ext/rest/status/?secret=IsSsoUp" >Go to SSO status page</a>
                        </div>
                        <div ng-hide="isSsoPropertyAvailable(properties.SSOServer)">Not available</div>
                    </td>
                    <td>
                        <div ng-show="isSsoPropertyAvailable(properties.SSOAppid)">{{properties.SSOAppid}}</div>
                        <div ng-hide="isSsoPropertyAvailable(properties.SSOAppid)">Not available</div>
                    </td>
                </tr>
            </tbody>
        </table>
        


    </div>
</div>



</body>
</html>
